<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	
	<title>{% if page.title %}{{ page.title }} &mdash;{% endif %} {{ site.name }}</title>

	{% if site.feedburnerurl %}
	<link rel="alternate" type="application/rss+xml" href="{{ site.feedburnerurl }}">
	{% else %}
	<link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}feed">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css" type="text/css" />
	<link rel="shortcut icon" href="{{ site.baseurl }}assets/images/avatar.png" type="image/x-icon" />
	
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}assets/images/avatar.jpg"/>
	
	<meta name="description" content="{{ site.meta-description }}" />
	<meta name="keywords" content="jonah, jonasch, wiaderny, economics, econometrics, statistics, latex, miktex, gnu">
	<!-- jQuery -->
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
	
	<!-- Custom JS -->
	<script type='text/javascript' src='{{ site.baseurl }}assets/js/custom.js'></script>
	
	<!-- Modernizr adding css classes -->
	<script type='text/javascript' src='{{ site.baseurl }}assets/js/libs/modernizr_css_classes.js'></script>

</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %}>