{% include header-home.html %}

<div id="container">
<div class="surface">
<div class="screen-content">

	<aside class="cover">
	<div class="cover-table">
	<div class="cover-row">
		<div class="cover-img"><img id="preload" class="hide"/></div>
	</div>
	<div class="cover-row">
	<div class="cover-body">
	<div class="cover-body-inner">
	<span class="cover-avatar"><img src="{{ site.baseurl }}assets/images/avatar_page.png" title="Jonah Wiaderny"></span>
	<h1 class="cover-title">Jonah Wiaderny</h1>
	<p class="cover-description">Banking and Financial Management Graduate. Specializing in Investment Banking, particularly Mergers &amp; Acquisitions.
	</p>
	</div>
	</div>
	</div>
	</div>
	</aside>

<section class="wrapper">
	<div class="wrapper-inner">
		
	<div id="content">
		
		{{ content }}
	
		
		  {% for post in paginator.posts %}
		  {% unless post.draft %}
		    <article class="post-item">
		    {% if post.link %}
		    <h3 class="linktitle"><a href="{{ post.link }}">{{ post.title }}</a>&nbsp;<a href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'" class="infin">&infin;</a></h3>
		    {% else %}
		    <h3 class="posttitle"><a href="{{ BASE_PATH }}{{ post.url }}" class="articletitle">{{ post.title }}</a></h3>
			<p class="date articledate home">{{ post.date | date:"%B %e, %Y" }}</p>
		    {% endif %}
		    
		    {% if post.excerpt %}
		    <a href="{{ BASE_PATH }}{{ post.url }}" class="excerptlink">
		    <p>{{ post.exc }}</p>
		    </a>
		    

		    <span class="words hide">{{ post.content | number_of_words }}</span>
		     
		    


		    {% else %}
		    {{ post.content }}
		    {% endif %}
		    </article>
		  {% endunless %}
		  {% endfor %}      
		
		
		
		<p class="pagination">
		{% if paginator.previous_page %}
		
			{% if paginator.previous_page == 1 %}
			<a class="newer" href="/">Newer</a>
		
			{% else %}
			<a class="newer" href="/page{{paginator.previous_page}}">Newer</a>
			{% endif %}
			
			{% else %}
			<span class="newer">Newer</span>
			{% endif %}
		
		<span>Page {{paginator.page}} of {{paginator.total_pages}}</span>
		{% if paginator.next_page %}
		<a class="older" href="/page{{paginator.next_page}}">Older</a>
		{% else %}
		<span class="older">Older</span>
		{% endif %}
		</p>

	</div> <!--/content-->
	</div> <!--/container-->
	</section>

	</div>
	</div>
</div>
	
{% include footer.html %}