{% include header.html %}
	

	
	<div class="container">
		
		<section class="post">
		<div id="content" class="post">

     {% if page.image %}
    <div class="top-post-image">
    <div class="top-post-image-header">
    <img class="top-post-image-header-ratio" src="data:image/gif;base64,R0lGODlhMgAVAPAAAP///wAAACH5BAEAAAAALAAAAAAyABUAAAIfhI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8dTAQA7">
    <img class="top-post-image-header-cover" src="{{ site.baseurl }}assets/images/post-images/{{ page.image }}">
    </div> 
     {% if page.caption %}
    <div class="top-post-image-caption">{{ page.caption }}</div></div>
     {% endif %}
		 {% endif %}

		<header class="post-header">

			<div class="post-author-side">
        <div class="post-author-card">
            <a class="post-author-image" href="http://www.wiaderny.org" title="Go to the home page of Jonah Wiaderny"><img src=
            "{{ site.baseurl }}assets/images/avatar_page.png" title="Jonah Wiaderny"></a>

            <div class="post-author-info">
                <a class="post-author-name" href="http://www.wiaderny.org" rel="author" title="Go to the home page of Jonah Wiaderny">Jonah Wiaderny</a>

                <p>Banking and Financial Management Graduate. Specializing in IB.</p>

                <p></p>

                
            </div>

             {% if page.update %}
             <div class="updated">
             <strong>Updated</strong>
             <p><time class="update-date">{{ page.update }}</time></p>
             </div>

             {% endif %}
            <div class="share">

                    <ul>
                    	<li>

  <a href="#" class="twitter"> 


                    	<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
kb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
46IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU
1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcx
MS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9Ikljb25zIiB4bWxucz0iaHR0cDovL3d3dy5
3My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW
5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMjVweCIgaGVpZ2h0PSIyNXB4IiB2aWV3Qm94P
SIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNw
YWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGlkPSJUd2l0dGVyX194MjhfYWx0X3gyOV8iIGZpbGw9IiN
DNEM0QzQiIGQ9Ik04NC44MDMsNDYuNTY0YzUuMDU1LTAuNDE3LDguNDgzLTIuNzE1LDkuODAzLT
UuODMzCgljLTEuODIzLDEuMTItNy40ODMsMi4zNDEtMTAuNjA5LDEuMTc4Yy0wLjE1My0wLjczN
C0wLjMyNC0xLjQzMi0wLjQ5Mi0yLjA2MmMtMi4zODItOC43NDYtMTAuNTM3LTE1Ljc5Mi0xOS4w
ODItMTQuOTQxCgljMC42OTEtMC4yNzksMS4zOTMtMC41MzksMi4wOTItMC43NzJjMC45NC0wLjM
zNyw2LjQ1OS0xLjIzNSw1LjU5LTMuMTgzYy0wLjczMi0xLjcxMy03LjQ3NSwxLjI5NS04Ljc0NC
wxLjY4OAoJYzEuNjc2LTAuNjMsNC40NDctMS43MTQsNC43NDQtMy42NGMtMi41NjcsMC4zNTItN
S4wODgsMS41NjYtNy4wMzUsMy4zMzFjMC43MDMtMC43NTcsMS4yMzYtMS42NzksMS4zNS0yLjY3
MgoJYy02Ljg0OCw0LjM3NS0xMC44NDgsMTMuMTk1LTE0LjA4NSwyMS43NWMtMi41NDItMi40NjM
tNC43OTUtNC40MDMtNi44MTYtNS40OGMtNS42Ny0zLjA0MS0xMi40NDktNi4yMTMtMjMuMDkxLT
EwLjE2NAoJYy0wLjMyNywzLjUyMSwxLjc0MSw4LjIwMyw3LjcsMTEuMzE2Yy0xLjI5MS0wLjE3M
y0zLjY1MiwwLjIxMy01LjU0LDAuNjY1YzAuNzY5LDQuMDM0LDMuMjgsNy4zNTcsMTAuMDc5LDgu
OTY0CgljLTMuMTA3LDAuMjA1LTQuNzEzLDAuOTEyLTYuMTY4LDIuNDM2YzEuNDE1LDIuODA1LDQ
uODY4LDYuMTA3LDExLjA4LDUuNDI5Yy02LjkwNiwyLjk3Ny0yLjgxNiw4LjQ5LDIuODA0LDcuNj
Y3CglDMjguNzk0LDcyLjE0MywxMy42NzksNzEuNDE2LDUsNjMuMTM0YzIyLjY2MSwzMC44OCw3M
S45MjEsMTguMjYzLDc5LjI2Mi0xMS40ODFjNS41LDAuMDQ4LDguNzMzLTEuOTA0LDEwLjczOC00
LjA1NgoJQzkxLjgzMSw0OC4xMzQsODcuMjM4LDQ3LjU3OCw4NC44MDMsNDYuNTY0eiIvPgo8L3N
2Zz4="></a> 
</li>
                    	<li class="facebook_icon">


<a href="#" 
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
    <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXR
vcjogQWRvYmUgSWxsdXN0cmF0b3IgMTUuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVm
Vyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL
0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFRE
L3N2ZzExLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iSWNvbnMiIHhtbG5zPSJodHRwOi8
vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OT
kveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxN3B4IiBoZWlnaHQ9IjE3cHgiIHZpZ
XdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAg
MTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGlkPSJGYWNlYm9va19feDI4X2FsdF9
4MjlfIiBmaWxsPSIjQzRDNEM0IiBkPSJNOTUsMjAuMDAxQzk1LDEyLjExOSw4Ny44ODQsNSw4MC
w1aC02MEMxMi4xMTYsNSw1LDEyLjExOSw1LDIwLjAwMXY1OS45OTgKCUM1LDg3Ljg4MSwxMi4xM
TYsOTUsMjAuMDAxLDk1SDUwVjYxSDM5VjQ2aDExdi01Ljg0NEM1MCwzMC4wNzcsNTcuNTY5LDIx
LDY2Ljg3NSwyMUg3OXYxNUg2Ni44NzVDNjUuNTQ4LDM2LDY0LDM3LjYxMSw2NCw0MC4wMjRWNDY
KCWgxNXYxNUg2NHYzNGgxNmM3Ljg4NCwwLDE1LTcuMTE5LDE1LTE1LjAwMVYyMC4wMDF6Ii8+Cj
wvc3ZnPg==">
</a>
</li>
                    </ul>
                </div>
        </div>

    </div>

    	

		{% if page.link %}
		<h1 class="linktitle"><a href="{{ page.link }}">{{ page.title }}</a></h1>
		<p class="date">{{ page.date | date:"%B %e, %Y" }}</p>
		{% else %}
		<p class="date articledate">{{ page.date | date:"%B %e, %Y" }}</p>
		<h1 class="posttitle">{{ page.title }}</h1>
		{% if page.subtitle %}
		<h2 class="postsubtitle">{{ page.subtitle }}</h2>
		{% endif %}
		
		{% endif %}

		</header>

		<article>
		<div class="post-content">
		{{ content }}
        {% if page.disclaimer %}
        <hr class="section-divider">
        <p class="disclaimer">
            Disclaimer: Under no circumstances does the information on this website represent a recommendation to buy or sell stocks. The author is not registered as an investment adviser, may or may not hold positions in the securities mentioned in this article and relies upon the 'publisher's exclusion' from the definition of 'investment adviser' as provided under Section 202(a)(11) of the Investment Advisers Act of 1940 and corresponding state securities laws. All dividend payout and date information on this website is for information purposes only. The accuracy of any dividend dates or payout amounts is not guaranteed. Always check with your broker first before purchasing any security.
        </p>
        {% endif %}
		</div>
		</article>
    <span class="words hide">{{ content | number_of_words }}</span>
		</section>
		
		</div> <!-- /content -->
	</div> <!-- /container -->

{% include footer-post.html %}